aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: var(--navshadow);
}

.menu a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    /* separar cada cor do gradiente por virgula */
    background: linear-gradient(0deg, #07a7e3 0%, #32dac3 100%);
}

@media (max-width: 783px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }


}
